@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 20px;
}
.header {
    padding-top: 46px;
    padding-bottom: 30px;
    background: linear-gradient(-45deg, #7b8296,#03206e, #4d7208);
    background-size: 400% 200%;
    animation: gradient 10s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
.container {
    max-width: 1230px; 
    padding: 0 30px;
    margin: 0 auto;
 }
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 46px;
}
.logo {
    font-weight: 1000;
    color: rgb(0, 0, 0);
    font-size: 25px; 
}
.nav-list {
    display: flex;
    column-gap: 50px;
    font-weight: 750;
    font-size: 20px;
}
.nav-button {
    display: none;
}
.nav-link {
    color: #000;
}
.header-row {
    display: flex; justify-content: space-between;
    column-gap: 330px;
}
.header-content {
    margin-top: 100px;
    max-width: 500px;
    margin-top: 50px;
}
.header-heading {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 44px;
}
.header-content p {
    line-height: 2;
}
.contacts {
    padding: 50px 0;
    text-align: center;
    
    font-weight: 1000;  
    background: linear-gradient(-45deg, #7b8296,#03206e, #4d7208);
    background-size: 400% 200%;
    animation: gradient 10s ease infinite;
}
.contacts-footer {
    display: block;
    margin: 3%;
    padding: 2% 0% 2% 0%;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
}

h2, h3{
    margin-bottom: 20px;
    text-align: center;
    font-weight: 1000;
    color: #000;
}
h4, h5{
    margin-bottom: 25px;
    text-align: center;
    font-weight: 1000;
    color: #000;
    margin-top: 25px;
}

.infoBlock {
    margin: 0%;
    width: 100%;
    text-align: justify;
}
.infoText {
    padding: 2% 8% 2% 8%;
}
.infoBox {
    padding: 0% 0% 2% 0%;
}
.jobsBlock {
    margin: 0%;
    width: 100%;
}
.jobsText {
    padding: 2% 8% 2% 8%;
}
.job {
    column-count: 3;
    column-rule: 2px solid rgba(1, 18, 33, 0.836);
    column-width: 300px;
}
.adres {
    text-align: center;
}

.thumb img  {
    border: 2px solid #55c5e9;
    padding: 15px; /* Расстояние от картинки до рамки */
    background: #666; /* Цвет фона */
    margin-right: 10px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
   }
